/* *{
    margin: 0;
    padding: 0;
   
} */

body{
    background-color: whitesmoke;
    

}
.container{
    height: 100vh;
    width: 100%;
    /* background-image: url("../images/background.png"); */
    background-color:  #28282B;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position:relative;

    }
